h1 {
  color: #2391ff;
}

body {
  align-items: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: grey;
}

.botao {
  color: whitesmoke;
  background-color: #2391ff;
  font-size: medium;
  border-radius: 2px;
  border: none;
  height: 28px;
}

.botao:hover {
  background-color: rgba(248, 247, 250, 0.718);
  cursor: pointer;
  color: #2391ff;
}

.cabecalho,
.formulario
 {
  text-align: center;
  padding: 10px;
}

.input-form {
  width: 55%;
  border-radius: 5px;
  border: solid 1px;
  font-size: 16px;
  font-weight: lighter;
  height: 25px;
  color: #808080;
}

.input-form:focus {
  border: solid 1px #756868;
}

.card-pokemons {
  width: calc(100%);
  border-radius: 3px;
  border: solid 1px gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 10px;
  padding-top: 30px;
 padding: 20px;
  left: 0;
}

.card-pokemons:hover {
  cursor: pointer;
  border: solid #2391ff 2px;
}

.aviso{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.579) !important;
  z-index: 100;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.msgAviso{
  text-align: center;
  background-color: #ffffff;
  border: 'none';
  padding: 10px;
  margin-bottom: 10px;
  font-size: large;
  border-radius: 5px;
}

.video{
  text-align: center;
  width:320px; 
  height:240px
}