<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto Webpack Base</title>
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body>
  <div class="container">
    <div class="cabecalho">
      <h1>Bem-vindo ao Mundo Pokemon</h1>
      <p>Abaixo, você pode pesquisar seu pokemon favorito.</p>
    </div>
    <form class="formulario" id="formulario">
      <input type="text" id="inputPokemon" class="input-form">
      <button type="submit" id="btnBuscar" class="botao">Buscar</button>
    </form>
    <div class="grid" id="gridPokemons"></div>
  </div>
</body>
</html>